* {
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/********HEADER*******/
.header {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 41px;
  height: 41px;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li {
  display: flex;
  margin: 7px;
}
.black-letter {
  color: black;
  font-weight: bolder;
}
.gray-letter {
  color: #b8becd;
}
.navigation ul li a {
  text-decoration: none;
}
.btn-underline {
  /* width: 132px;
  height: 44px; */
  color: #fb8f1d;
  background: #e5e5e5;
  padding: 10px 50px;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
}
.btn-fill {
  color: white;
  padding: 10px 50px;
  background: #fb8f1d;
  border-radius: 8px;
}
/********SECTION ONE*********/
.section-one {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.holiday-finder {
  position: relative;
}
.holiday-finder img {
  width: 20.05px;
  height: 20px;
}
.holiday-finder .element-1 {
  position: absolute;
  left: 71.06%;
  right: 57.68%;
  top: 3.94%;
  bottom: 95.71%;
}
.holiday-finder .element-2 {
  position: absolute;
  left: -10%;
  right: 95%;
  top: 50%;
  bottom: 90.69%;
}
.holiday-finder .element-3 {
  position: absolute;
  left: 75%;
  right: 53%;
  top: 100%;
  bottom: 10%;
}
.holiday-finder h1 {
  font-size: 64px;
  margin-bottom: 20px;
}
.holiday-finder p {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.holiday-finder hr {
  margin-bottom: 20px;
  width: 15px;
}
.holiday-finder input {
  padding-left: 10px;
  margin-bottom: 25px;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  width: 507px;
  height: 55px;
}
.image-trip img {
  margin-top: 25px;
  width: 500px;
  height: 500px;
}
/******SECTION TWO******/
.section-two {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-globe img {
  width: 500px;
  height: 500px;
}
.text-way-to-explore h2 {
  font-size: 36px;
  margin-bottom: 25px;
}
.text-way-to-explore {
  position: relative;
  margin-top: -50px;
  width: 481px;
}
.element-cross {
  width: 20.05px;
  height: 20px;
  position: absolute;
  left: -10%;
  top: -55%;
  transform: rotate(7.49deg);
}
.element-circle {
  width: 20.05px;
  height: 20px;
  position: absolute;
  left: 70%;
  top: 85%;
}
.text-way-to-explore p {
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
  margin-bottom: 40px;
}
/*********SECTION THREE********/
.section-three {
  margin-top: 70px;
}
.featured-destinations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.featured-destinations h3 {
  font-size: 36px;
}
.featured-destinations p {
  font-size: 17px;
  color: #fb8f1d;
  line-height: 40px;
}
.images-destinations {
  display: flex;
  justify-content: space-between;
}
.images-destinations img {
  border-radius: 10px;
  width: 261px;
  height: 337px;
  object-fit: cover;
}
.rectangule-country {
  position: relative;
}
.rectangule {
  padding: 15px;
  border-radius: 10px 10px 0px;
  background-color: white;
}
.rectangule-one {
  position: absolute;
  left: -1%;
  bottom: 0px;
}
.rectangule-country span p {
  font-weight: bolder;
}
.rectangule-two {
  position: absolute;
  left: 25%;
  bottom: 0px;
}
.rectangule-three {
  position: absolute;
  left: 50%;
  bottom: 0px;
}
.rectangule-four {
  position: absolute;
  left: 75%;
  bottom: 0px;
}
.section-three {
  position: relative;
}
.section-three .ele-one,
.ele-two,
.ele-three {
  width: 20.05px;
  height: 20px;
}
.section-three .ele-one {
  position: absolute;
  left: -8%;
  top: 60%;
}
.section-three .ele-two {
  position: absolute;
  left: 80%;
  top: -5%;
}
.section-three .ele-three {
  position: absolute;
  left: 45%;
  top: 105%;
}
/*****SECTION FOUR*****/
.section-four {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thousand-sunny h3 {
  width: 65%;
  font-size: 32px;
  line-height: 50px;
  margin-bottom: 15px;
}
.thousand-sunny p {
  width: 75%;
  color: #7d7987;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
}
.image-thousand-3 img {
  width: 550px;
  height: 450px;
}
/********SECTION FIVE******/
.section-five {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4 {
  font-size: 36px;
  line-height: 50px;
}
.testimonials img {
  margin-right: 10px;
  height: 23.95px;
  width: 25.12px;
}
.testimonials p {
  width: 70%;
  font-size: 25px;
  line-height: 36px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.testimonials h5 {
  font-size: 22px;
}
.testimonials h6 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 30px;
}
.image-testimonials img {
  width: 384px;
  height: 491px;
}
/*****SECTION SIX******/
.section-six {
  position: relative;
  margin-top: 80px;
}
.blog {
  width: 266px;
  height: 446px;
}
.blog a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
}
.title-post {
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
}
.description {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7d7987;

  margin-bottom: 15px;
}
.images-destinations {
  display: flex;
  justify-content: space-between;
}
.circle-one,
.circle-two,
.circle-three {
  width: 20.05px;
  height: 20px;
}
.circle-one {
  position: absolute;
  top: -10%;
  bottom: 80%;
  left: 35%;
}
.circle-two {
  position: absolute;
  top: 83%;
  left: -7%;
}
.circle-three {
  position: absolute;
  bottom: -25%;
  left: 65%;
}
/******FOOTER*******/
footer {
  padding: 50px 0px;
  margin-top: 200px;
  background-color: #e5e5e5;
}
.footer-one {
  width: 30%;
}
.footer-one img {
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
}
.footer-one p {
  margin-bottom: 20px;
  color: rgba(132, 132, 132, 1);
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-two {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.footer-two p {
  font-weight: 700;
  font-size: 19px;
  line-height: 60px;
}
.footer-two nav a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 38px;
  color: #848484;
}
footer hr {
  background: #c4c4c4;
  margin-top: 40px;
}
.social-media {
  display: flex;
  justify-content: center;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.icons img {
  margin: 25px;
}
